@import url(
.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
});


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body{
    line-height: 1.4;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    display: flex;

}

header {
    border: 1px solid#ccc;
    height: auto;
}

nav h1{
    font-size: 25px;
    font-weight: 600;
    
    padding: 10px;
    border-bottom: 1px solid#ccc;
}

nav ul {
    list-style: none;
    position: fixed;
}

nav ul li {
    border-bottom: 2px solid #ccc;

    padding: 10px;
    color: black;
}

nav ul li:hover {
    background-color: #ccc;
    transition: 0.3s ease-in-out;
}

/*main section*/

main {
    padding: 50px;
    max-width: 1200px;

}

section {
    margin-bottom: 50px;
}

section article {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

section h2 {
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 10px;
    border-bottom: 2px solid#ccc;
    margin-bottom: 20px;
    transition: 0.2s ease-in-out;

}

section h2:hover{
        font-size: 25px;
        transition: 0.2s ease-in-out;
    }

section article ul {
    margin-left: 30px;


}

section article ul li {
    margin-bottom: 10px;

}

code {
    text-align: left;
    white-space: pre-line;
    line-height: 2;
    background-color: #ccc;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

@media (max-width: 480px) {
    body {
        flex-direction: column;
    }
    header {
        height: 300px;
        overflow: hidden;
        overflow-y: scroll;
    }
    nav ul {
    list-style: none;
    position: absolute;
}
    
}